In [8]:
import sys
import os

PACKAGE_PARENT = '..'
SCRIPT_DIR = os.path.abspath('')
sys.path.append(os.path.normpath(os.path.join(SCRIPT_DIR, PACKAGE_PARENT)))

In [9]:
from bs4 import BeautifulSoup
import requests
import re
import numpy as np
import pandas as pd
import re

import importlib
import utils
importlib.reload(utils)

from utils import get_parsed, get_parsed_remove_comment, baseball_base_url
from tqdm import tqdm

In [10]:
xx = pd.DataFrame([{'a': 1, 'b': 2}, {'b': 34}, {'c': 234, 'd': 21}, {'a': 32, 'd': 45}])
xx

      a     b      c     d
0   1.0   2.0    NaN   NaN
1   NaN  34.0    NaN   NaN
2   NaN   NaN  234.0  21.0
3  32.0   NaN    NaN  45.0

In [11]:
pd.isna(xx)

       a      b      c      d
0  False  False   True   True
1   True  False   True   True
2   True   True  False  False
3  False   True   True  False