In [1]:
import sys
import os

PACKAGE_PARENT = '..'
SCRIPT_DIR = os.path.abspath('')
sys.path.append(os.path.normpath(os.path.join(SCRIPT_DIR, PACKAGE_PARENT)))

In [226]:
from bs4 import BeautifulSoup
import requests
import re
import numpy as np
import pandas as pd
import re
import pickle

import importlib
import utils
importlib.reload(utils)
from tqdm import tqdm


from utils import get_parsed, get_parsed_remove_comment, baseball_base_url, ordinal, clean_name

In [227]:
df_all_leaders = pd.read_csv('./all_leaders.csv')

In [228]:
df_all_leaders.head(3)

,Statistic,Single-Season,Career,Active,Progressive,Yearly League,Year-by-Year Top-Tens,Category
0,Wins Above Replacement,/leaders/WAR_season.shtml,/leaders/WAR_career.shtml,/leaders/WAR_active.shtml,/leaders/WAR_progress.shtml,/leaders/WAR_leagues.shtml,/leaders/WAR_top_ten.shtml,Player Value Leaderboards
1,WAR Position Players,/leaders/WAR_bat_season.shtml,/leaders/WAR_bat_career.shtml,/leaders/WAR_bat_active.shtml,/leaders/WAR_bat_progress.shtml,/leaders/WAR_bat_leagues.shtml,/leaders/WAR_bat_top_ten.shtml,Batting Leaderboards
2,Offensive WAR,/leaders/WAR_off_season.shtml,/leaders/WAR_off_career.shtml,/leaders/WAR_off_active.shtml,/leaders/WAR_off_progress.shtml,/leaders/WAR_off_leagues.shtml,/leaders/WAR_off_top_ten.shtml,Batting Leaderboards

In [229]:
df_career = df_all_leaders[['Statistic', 'Career', 'Category']]
df_career.head(2)

,Statistic,Career,Category
0,Wins Above Replacement,/leaders/WAR_career.shtml,Player Value Leaderboards
1,WAR Position Players,/leaders/WAR_bat_career.shtml,Batting Leaderboards

In [230]:
def process_statistic(table):
    def process_row(row):
        res = []
        for td in row.find_all('td'):
            res.append(re.sub('\xa0', ' ', td.text.strip()))
        #print(res)
        return res
        pass
    
    columns_name = [i.text.strip() for i in table.find('thead').find_all('th')]
    #print(columns_name)
    
    data = []
    for row in table.find_all('tr')[1:]:
        #print(row)
        processed_row = process_row(row)
        if not processed_row:
            continue
        if processed_row[0] == '':
            processed_row[0] = data[-1][0]
        data.append(processed_row)
    
    df = pd.DataFrame(data, columns=columns_name)
    
    return df

In [231]:
all_career = []

for i in tqdm(range(min(df_career.shape[0], 20000))):
    '''
    stat_name = re.sub(' ', '_', df_career.loc[i, 'Statistic'])
    stat_name = re.sub('[\./]', '', stat_name)
    file_name = f'{i:03}_' + stat_name
    path_to_save = os.path.join(folder, file_name + '.csv')
    #print(path_to_save)
    '''
    
    content = get_parsed(baseball_base_url + df_career.loc[i, 'Career'])
    table = content.find('table')
    
    df = process_statistic(table)
    df['Rank'] = df['Rank'].map(lambda x: x[:-1]).astype(int)
    cat = df_career.loc[i, 'Category']
    cat = " ".join(cat.split(" ")[:-1])
    all_career.append([(cat, df_career.loc[i, 'Statistic']), df])

100%|████████████████████████████████████████████████████████████████████████████████| 179/179 [01:10<00:00,  2.53it/s]

In [232]:
with open('pkl_leaders_careers.pkl', 'wb') as f:
    pickle.dump(all_career, f)
with open('pkl_leaders_careers.pkl', 'rb') as f:
    all_career = pickle.load(f)

In [233]:
cid = 4
print(all_career[cid][0])
all_career[cid][1].head()

('Batting', 'Batting Average')

   Rank          Player (yrs, age) Batting Average Bats
0     1              Ty Cobb+ (24)           .3662    L
1     2       Rogers Hornsby+ (23)           .3585    R
2     3  Shoeless Joe Jackson (13)           .3558    L
3     4          Lefty O'Doul (11)           .3493    L
4     5         Ed Delahanty+ (16)           .3458    R

# Generate questions

quiz columns:

question, correct answer, four potential answers, tags

tags:
    player, team, season, ranking, name, number, year

In [242]:
wrong_count = 4
columns = ['Question', 'Correct'] + ['Wrong_' + str(i + 1) for i in range(wrong_count)] +  ['tags']
ranking_tag = 'Career Ranking'
leader_name = 'career'
question_list = []

import random
random.seed(1000)
for (cat, stat), df in tqdm(all_career[:min(len(all_career), 1000)]):
    name_column = df.columns[1]
    stat_column = df.columns[2]
    ranks_unique = df['Rank'].unique()
    
    small_range = 6
    middle_range = int(small_range * 1.8)
    large_range = int(middle_range * 1.8)
    small_range_rank = list(ranks_unique[:small_range])
    middle_range_rank = list(ranks_unique[:middle_range])
    large_range_rank = list(ranks_unique[:large_range])
    
    if len(ranks_unique) < 10:
        continue
    # who is number 1st - ith
    for i in range(small_range):
        rank = small_range_rank[i]
        player_or_manager = 'manager' if 'Manager' in cat else 'player'
        question = f'Which of the following {player_or_manager}s is ranked #{rank} in the {leader_name} leaderboard for \'{stat} ({cat})\'?'
        # get one player that has the correct rank
        correct = df[df['Rank'] == (rank)][name_column].tolist()[0]
        
        # generate wrong answers
        subselect = random.randrange(wrong_count + 1, wrong_count * 2)
        options = random.sample(middle_range_rank, k=min(subselect, len(middle_range_rank)))
        options = [option for option in options if option != rank][:wrong_count]
        wrongs = [df[df['Rank'] == (rank)][name_column].tolist()[0] for rank in options]
        
        # check whether the wrong answer is appropriate or not
        screen_flag = False
        for wrong in wrongs:
            # all the ranks of this player
            ranks_this_player = df[df[name_column].str.contains(clean_name(wrong))]['Rank'].tolist()
            if rank in ranks_this_player:
                screen_flag = True
                break
        if screen_flag:
            continue
        
        # if there is repeating names
        all_options = [clean_name(wrong) for wrong in [correct] + wrongs]
        if len(set(all_options)) != len(all_options):
            continue
            
        tags = [ranking_tag, player_or_manager]
        question_list.append([question] + all_options + [tags])
        
        
    # what is the highest rank of the specific player in the leaderboard
    for i in range(small_range):
        rank = small_range_rank[i]
        player_or_manager = 'manager' if 'Manager' in cat else 'player'
        player_name = df[df['Rank'] == (rank)][name_column].tolist()[0]
        question = f'What is the highest ranking of {clean_name(player_name)}' + \
            f' in the {leader_name} leaderboard for \'{stat} ({cat})\'?'
        
        # find the highest rank of this player
        highest_rank_this_player = min(df[df[name_column].str.contains(clean_name(player_name))]['Rank'].tolist())
        # correct rank
        correct = rank
        
        if correct != highest_rank_this_player:
            continue
        
        # wrong rank
        subselect = random.randrange(wrong_count + 1, wrong_count * 2)
        options = random.sample(middle_range_rank, k=min(subselect, len(middle_range_rank)))
        options = [option for option in options if option != rank][:wrong_count]
        
        all_options = [correct] + options
        if len(set(all_options)) != len(all_options):
            continue
            
        tags = [ranking_tag, player_or_manager]
        question_list.append([question] + all_options + [tags])
    
    # who is ranked highest of the following palyers
    for i in range(small_range):
        rank = small_range_rank[i]
        player_or_manager = 'manager' if 'Manager' in cat else 'player'
        player_name = df[df['Rank'] == (rank)][name_column].tolist()[0]
        question = f'Which of the following {player_or_manager}s ranks the highest' + \
            f' in the {leader_name} leaderboard for \'{stat} ({cat})\'?'
        correct = player_name
        
        # get the number of wrongs to select
        subselect = random.randrange(wrong_count + 1, wrong_count * 2)
        # select ranks that are bigger than rank
        options = random.sample(large_range_rank[(i + 1):], k=min(subselect, len(large_range_rank[(i + 1):])))
        options = [option for option in options if option != rank][:wrong_count]
        wrongs = [df[df['Rank'] == (rank)][name_column].tolist()[0] for rank in options]
        
        all_options = [clean_name(wrong) for wrong in [correct] + wrongs]
        
        # get highest for each player
        #print([correct] + wrongs)
        highest_each_player = [min(df[df[name_column].str.contains(clean_name(player_name))]['Rank'].tolist()) 
                               for player_name in all_options]
        zipped = list(zip(all_options, highest_each_player))
        zipped.sort(key=lambda x: x[1])
        if len(set(all_options)) != len(all_options):
            continue
            
        tags = [ranking_tag, player_or_manager]
        question_list.append([question] + [opt for opt, rk in zipped] + [tags])

100%|████████████████████████████████████████████████████████████████████████████████| 179/179 [00:12<00:00, 13.99it/s]

In [243]:
len(question_list)

3222

In [249]:
career_ranking_questions = pd.DataFrame(question_list, columns=columns)

In [250]:
with open('questions_career_ranking.pkl', 'wb') as f:
    pickle.dump(career_ranking_questions, f)
with open('questions_career_ranking.pkl', 'rb') as f:
    career_ranking_questions = pickle.load(f)

In [251]:
career_ranking_questions.iloc[-1130, :].tolist()

["Which of the following players is ranked #5 in the career leaderboard for 'Errors Committed as LF (s.1901) (Fielding)'?",
 'Duffy Lewis',
 'Bobby Veach',
 'Lou Brock',
 'Goose Goslin',
 'Rickey Henderson',
 ['Career Ranking', 'player']]